.content {
    width: 50%; margin: 2rem auto;

    .my-card {
        background: #fbfbfb;
        border-radius: 10px;
    }

    .my-form {
        padding: 2rem;
    }
    
    .full-width-input {
        width: 100%;
    }
}

