<div class="container-fluid">
  <header class="rr-header">
    <div class="box-card">
      <h6 class="home-text">{{ title }}</h6>
    </div>
  </header>
  <main class="rr-main">
    <router-outlet>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let scrapPrice of scrapPrices">
            <td>{{ scrapPrice.id }}</td>
            <td>{{ scrapPrice.price }}</td>
          </tr>
        </tbody>
      </table>
    </router-outlet>
  </main>
  <footer class="rr-footer">
    <p class="text-center">
      © Copyright 2020 Reverse Resources. All rights reserved.
    </p>
  </footer>
</div>
