// override bootstrap variable
$body-bg: #fafafa;
$body-color: #000000;

// custom variables
$box-background-color: #fff;
$box-border-color: #eee;
$box-shadow-color: #eee;

$home-text-color: #eb8334;
